extends layout
block content

    .container-fluid
        .row
            .col-md-6(style='background-color:lavender;')
                p
                h3 Arts and Theatre
                |Sofia concentrates the majority of Bulgaria's leading performing arts troupes. Theatre is by far the most popular form of performing art, and theatrical venues are among the most visited, second only to cinemas. The oldest such institution is the Ivan Vazov National Theatre, which performs mainly classical plays and is situated in the very centre of the city. A large number of smaller theatres, such as the Sfumato Theatrical Workshop, show both classical and modern plays.
        
            .col-md-6(style='background-color:lavender;')
                p
                h3 Opera and Ballet
                |The National Opera and Ballet is a combined opera and ballet collective, established in 1891. However, it did not begin performances on a regular basis until 1909. Some of Bulgaria's most famous operatic singers, such as Nicolai Ghiaurov and Ghena Dimitrova, have made their first appearances on the stage of the National Opera and Ballet. Bulgaria Hall and Hall 1 of the National Palace of Culture regularly hold classical concerts, performed both by foreign orchestras and the Sofia Philharmonic. The city has played host to many world-famous musical acts including AC/DC, Sting, Elton John, Madonna, George Michael, Metallica, Tiesto, Kylie Minogue, Depeche Mode, Rammstein, Rihanna, Roxette and Lady Gaga.
