extends layout
block content

    .container-fluid
        .row
            .col-md-6
                p
                h3 Sport and fun
                | Sofia is packed to bursting with fun things to do, whether you're young or old! The newest amusement park in the Balkans, Sofia Land, lies in the South of the city and is an absolute must-see. Several other amusement parks exist in Sofia, mainly aimed at children, with Kokolandia a favourite due to it's old school assault course vibe and fun mini-golf facility. For more grown up pursuits why not try bungee jumping, carting, or paintball? And if you're feeling lucky then you should definitely check out one of the many casinos on offer, but don't blame us if you end up gambling away your ticket home! See the editors' choice choice for our suggestions.
        
            .col-md-6
                p
                h3 Free Sofia tours
                | Sofia's sights in the company of friendly and enthusiastic English-speaking young locals on this guided walk. No reservation is needed, just show up outside the Palace of Justice on bul Vitosha, at 11am or 6pm. Walks take around two hours.
        .row
            .col-md-6
                p
                h3 Maria Louisa Pool
                | Lying southeast of the city centre, Sofia’s most attractive expanse of greenery is home to the Vasil Levski Stadium , CSKA Stadium and Maria Luisa Pool , as well as bike tracks and tennis courts. It’s laid out with countless statues and flowerbeds, and is a relaxing place to take a leisurely stroll on a sunny Sunday afternoon. The eastern end of the park is dominated by a gigantic communist monument built in 1956 and known as the Mound of Brotherhood , featuring a 42m-high obelisk and socialist-realist icons including a pair of partisan fighters, dramatically gesturing comrades clutching Kalashnikovs, and smiling, stoic workers. It has long been neglected by the authorities, and several of the socialist heroes are now missing limbs and gaining coats of graffiti, but small groups of pensioners come on occasion to lay flowers in remembrance of the red old days.

            .col-md-6
                p
                h3 Sofia Bike tours
                | Discover Sofia on two wheels, on free one-hour tours led by English-speaking guides, departing from the front of the Ivan Vazov National Theatre at 10am. Bring your own bike, or borrow one free of charge. Three-hour tours depart at 11am and 5pm, and cost 10 lv for bike rental.